.Button {
	composes: blueish-bg from '../../styles/colors.css';
	display: inline-block;
	padding: 0 16px;
	height: 40px;
	line-height: 40px;
	border-radius: 25px;
	max-width: 140px;
	width: 100%;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	color: #4c4c51;
	text-decoration: none;
	text-align: center;
	transition: all .2s;
}

.Button:hover {
	filter: brightness(85%);
}

@media all and (max-width: 561px) {

	.Button {
		max-width: 100%;
	}
}